.days{
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--dark-white-main);
  padding: 4px 7px;
  background: var(--dark-black-light);
  border-radius: 60px;
}