.hint{
  position: absolute;
  display: none;
  background: rgba(18, 23, 34, 0.9);
  border: 1px solid var(--dark-black-lines);
  backdrop-filter: blur(10px);
  padding: 12px;
  border-radius: 10px;
  z-index: 10;
  min-width: max-content;
  &:after{
    display: block;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    background: rgba(18, 23, 34, 0.9);
    border-top: 1px solid var(--dark-black-lines);
    border-right: 1px solid var(--dark-black-lines);
    transform: rotate(-45deg);
  }
}