.checkbox{
  label{
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--dark-white-main);
    padding: 9px 12px;
    background: var(--dark-black-light);
    border-radius: 6px;
    display: flex;
  }
  input{
    display: none;
    &:checked{
      +label{
        background: var(--primary-blue-main);
        color: var(--primary-white)
      }
    }
  }
}