.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  background: var(--primary-blue-main);
  text-transform: uppercase;
  color: var(--primary-white);
  overflow: hidden;
  border-radius: 10px;
  min-width: 40px;
  height: 40px;
}