.menu{
  display: flex;
  &__item{
    margin-right: 60px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--dark-white-main);
    //transition: all .3s linear;
    display: flex;
    align-items: center;
    span{
      margin-left: 12px;
      //transition: all .3s linear;
    }
    svg path{
      //transition: all .3s linear;
    }
    &:global(.active),:hover{
      color: var(--dark-white-light);

    }
    &:hover{
      svg path{
        fill: var(--dark-white-light);
      }
    }
  }
}